*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-header{
    max-width: 2000px;
    margin: 0 auto;
    background-color: aqua;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
   
    
}
.row{
    display: flex;
    width: calc(100% - 500px);
    height: 32px;
    justify-content: space-between;
    background-color: rgb(78, 219, 39);
    border: 2px dashed black ;
    align-items: center;    
}

.col-logo{
  padding-left: 5px;
  
  
  
  
} 

.col-login{
    padding-right: 5px;
    
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
}

li{
    margin: 0 10px;
}

.container-main1{
    max-width: 2000px;
    height: 350px;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    
}
.row1{
    width: calc(80% - 500px);
    background-color: rgb(219, 39, 159);
    border: 2px dashed black;
    
}
.container-main2-4{
    max-width: 2000px;
    height: 450px;
    margin: 0 auto;
    background-color: rgb(253, 253, 255);
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    
}
.row2-4{
    display: flex;
    width: calc(100% - 500px);
    background-color: rgb(219, 39, 159);
    
   
}
.column-grande{
    width: 60%;
    background-color: lightskyblue;
    border: 2px dashed black;
}
.column-piccola{
    width: 40%;
    background-color: pink;
    border: 2px dashed black;
    

}
.container-main3{
    max-width: 2000px;
    height: 450px;
    margin: 0 auto;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.row3{
    flex-direction: row-reverse;
    display: flex;
    width: calc(100% - 500px);
    background-color: rgb(219, 39, 159);
}
.container-main5{
    max-width: 2000px;
    height: 700px;
    margin: 0 auto;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.row5{
    width: calc(100% - 500px);
    background-color: green;
    border: 2px dashed black;
    
}


